* {
    font-family: Arial, helvetica, san-serif !important;
    color: #000;
    font-size: 1em;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}

h1 {
    font-size: 3em;
}

.invalidField {
    background-color: #e49396;
    border-color: #c9282d;
}

#loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-align: center;
    margin-left: -100px;
}

.errorTitle {
    text-align: center;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid #CCCCCC;
}

.error {
    color: red;
    font: bold;
    width: 600px;
    height: 50px;

}

.errorContent {
    padding: 2px;
}

.validationFailedBorder {
    background-color: #e49396;
    border-color: #c9282d;
}

.errorLabel {
    padding-left: 25px;
    font-weight: bold;
    color: #c9282d;
}

.errorPanel {
    margin-top: 5px;
    background-image: url('../images/ErrorExclamationMark.png');
    background-repeat: no-repeat;
    width: 100%;
}

.errorPopup {
    position: relative;
    background: #c9282d;  /* default background for browsers without gradient support */
    font-size: 0.9em;
    padding: 4px 4px 4px 4px;

    /*css3*/
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#ce3d42), to(#c9282d));
	background:-moz-linear-gradient(#ce3d42, #c9282d);
	background:-o-linear-gradient(#ce3d42, #c9282d);
	background:linear-gradient(#ce3d42, #c9282d);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.errorPopupText {
    color: white;
}

.errorPopup:after {
    content: "";
    position: absolute;
    bottom: -12px; /* value = - border-top-width - border-bottom-width */
    left: 8px; /* controls horizontal position */
    border-width: 12px 12px 0; /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: #c9282d transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

.help-PopUpPanel {
   width: 400px;
    border: 4px solid #B8ACA8;
    background-color: #ffffff;
}

.help-pointer {
    cursor: pointer;
}
